.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    background-color:#97F6A8;
    font-family: 'Lobster', cursive;
  }

  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    h1{
      font-size: 100px;
    }
    h2{
      font-size: 50px;
    }
  }

  .links{
    align-content: space-between;
    align-items: space-between;
    justify-content: space-between;

    i{
      font-size: 50px;
    }
  }