<div class="container">
  <div class="header">
    <h1>Like To Learn More?</h1>
    <h2>Feel free to contact me!</h2>
    <div class="links">
        
        <a href="https://github.com/jculver1">
          <i class="fab fa-github"></i>
        </a>
        <a href="jculver1900@gmail.com">
          <i class="fas fa-envelope-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/jessica-m-culver/">
          <i class="fab fa-linkedin"></i>
        </a>
        <i class="fas fa-file"></i>
    </div>
  </div>
</div>