.mainContainer{
  background-color:#FB5607;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.container{
  background-color:#FB5607;
  display: flex;
  flex-direction: column; 
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  padding: 150px 0px 20px 0px;
}

.aboutContainer{
  background-color:#FB5607;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
 
  .about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    padding: 0px 200px 0px 200px;
    align-content: stretch;
  }
  h1{
    font-family: 'Lobster', cursive;
    font-size: 80px;
  }

  p{
    font-family: 'Roboto Slab', serif;
    // font-size: 15px;
  }

}

.padding{
  height:300px;
}

.bubbleContainer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
 
  flex-wrap: wrap;
  // border: 1px solid black;
  width: 50%; 

}

.circle {
  width: 85px;
  height: 85px;
  background: white;

  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  color: #FB5607;

}