<div class="skills-container">
  <div class= 'padding'></div>
  <div class = 'pacman'>

  </div>
  <!-- <div class='circle'>
    JavaScript Python SQL CSS
  </div> -->
  <div>Skills </div>
  <div class="cirlce">JavaScript</div>
  <div class="circle">Python</div>
  <div class="circle">SQL</div>
  <div class="circle">CSS</div>
  <div class="circle">React</div>
  <div class="circle">Angular</div>
  <div class="circle">Django</div>
  <div class="circle">Express</div>
  <div class="circle">Knex</div>
  <div class="circle">Bootstrap</div>
  <div class="circle">Materialize</div>
  <div class="circle">Flexbox</div>
  <div class="circle">API-integration</div>
  <div class="circle">Agile Programming</div>
</div>
