<div class='container'>
  <!-- <div class='aboutRow'>
    <h1>About Me</h1>
    <p>Hello! My name is Jessica and I'm a full-stack developer based in Denver, CO. I've been programming for the past couple of years. My background is in operations and analytics - my first programming language are Python and SQL. I've expanded my knowledge to include JavaScript and Web application frameworks. Please see a complete list of skills to the right! Or feel free to browse my projects (ADD PROJECTS URL) or contact me (ADD CONTACT URL)to learn more! 
    </p>
  </div> -->

  <div class='skillsRow'>
    <h1>Skills</h1>
    <img src="../assets/images/skills.jpg" alt="skills">

    <!-- <div class='skillBox'>
    <div *ngFor='let skill of skills.languages' class='listContainer'>
      <div class='circle'>
        {{skill}}
      </div>
    </div>
    </div>
  </div> -->
</div>
