.skills-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}


// .pacman {
//     width: 0px;
//     height: 0px;
//     border-right: 70px solid transparent;
//     border-top: 70px solid red;
//     border-left: 70px solid red;
//     border-bottom: 70px solid red;
//     border-top-left-radius: 70px;
//     border-top-right-radius: 70px;
//     border-bottom-left-radius: 70px;
//     border-bottom-right-radius: 70px;
//   }

  .circle {
    width: 80px;
    height: 80px;
    background: yellowgreen;
    border-radius: 50%
  }

