.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    font-family: 'Lobster', cursive;
    // background-color: lightblue
    background-image: url('/assets/images/introbackground.jpg');
    color: white;

    h1{
        font-size: 110px; 
        align-self: center;
        text-shadow: 3px 3px black;
    }
    h3{
        font-size: 100px;
        text-shadow: 2px 2px grey;
    }
    
}

// .item1{
//     // display: flex;
//     // flex-direction: row;
//     // flex-direction: column;
//     // align-items: center;
// }
    

.linkbox{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: space-between;
    text-shadow: 2px 2px grey;
}
a{  
    color: white;
    text-decoration: none; 
}

.circle {
    width: 300px;
    height: 300px;
    background-image: url('/assets/images/selfie2.jpg');
    border: 10px solid yellow;
    border-radius: 50%
  }

  img {
    border-radius: 50%;
    height: 50%;
    width: 30%;
  }

  