.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    height: 800px;
    font-family: 'Lobster', cursive;
    background-image: url('/assets/images/introbackground.jpg');
    color: white;
    // .title{
    //     height: 50%;
    // }
    h1{
        font-size: 110px; 
        align-self: center;
        text-shadow: 4px 4px black;
    }
    h3{
        font-size: 100px;
        text-shadow: 4px 4px black;
    }

    .linkbox{
        // height: 50%;
        font-size: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        align-items: space-between;
        text-shadow: 4px 4px black;
    }

}


a{  
    color: white;
    text-decoration: none; 
}




