.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    height: 900px;
    font-family: 'Lobster', cursive;
    background-image: url('/assets/images/introbackground.jpg');
    color: white;
}

.intro{

    h1{ 
        font-size: 100px; 
        text-shadow: 4px 4px black;
    }
    h3{
        font-size: 90px;
        text-shadow: 4px 4px black;
    }

    .linkbox{
        // height: 50%;
        font-size: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        align-items: space-between;
        text-shadow: 4px 4px black;
    }

}


a{  
    color: white;
    text-decoration: none; 
}




