<div class='container'>
  <div class ='intro'>
      <div class = 'circle'></div>
      <div class = 'item1'>
        <h1>Jessica Culver</h1>
        <h3>Full Stack Web Developer</h3>
      <div class="navbar">
          <div class="linkbox">
              <a pageScroll href="#skills">skills </a>
              <a pageScroll href="#projects">projects </a>
              <a pageScroll href="#contact">contact</a>
          </div>
        </div>
      </div>
  </div>
  <div id='skills'>
    <app-skills></app-skills>
  </div> 
  <div id='projects'>
    <app-projects></app-projects>
  </div>
  <div id='contact'>
    <app-contact></app-contact>
  </div>
</div>